.one {
  background: black;
  color: white;
  width: 200px;
  height: 200px;
  position: relative;
}

.two {
  background: red;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 50px;
}

.three {
  background: black;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 50px;
}

.four {
  background: red;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 50px;
}

.five {
  background: black;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 50px;
}

.six {
  background: red;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 50px;
}

.seven {
  background: black;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 50px;
}

.eight {
  background: red;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 100%;
}

.nine {
  background: black;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 25%;
  left: 25%;
  z-index: -1;
}

.ten {
  background: red;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: -2;
}


.eleven {
  background: black;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 75%;
  left: 75%;
  z-index: -3;
}

/*Smiley*/

.head {
  background: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  top: -150px;
  left: 875px;
}

.left-eye {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 30px;
}

.right-eye {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 110px;
  top: 30px;
}

.smile {
  background: white;
  width: 100px;
  height: 40px;
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 130px;
  left: 50px;
}
